* {
  margin-bottom: 19px;
  /* padding: -1px;*/
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  /*background:linear-gradient(to right,#480048,#c0484c) ;*/
}
button:not(:disabled) {
  cursor: pointer;
}
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 18px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
.mobile-nav-toggle i {
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.navbar {
  height: 100vh;
  width: 100%;
  padding: 0 8%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("stock.jpg");
  background-position: center;
  background-size: cover;
  position: relative;

}
nav {
 /* width: 100%;*/
  height: 173px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255,255, .2);
  border-bottom: 1px solid rgba(255, 255,255, .2);
  position: sticky;
  top:0;
  

}
.logo {
  width: 140px;
}
.navlink {
  display: flex;
  margin: 0;
  float: right;
  /*padding: 28px 0;*/
  padding: 0 100px;
}
.navlink li {
  list-style: none;
  display: inline-block;
  margin: 9px 15px;
}
.navlink li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  /*line-height:50px;*/
  color: #fff;
  padding: 5px 0;
  position: relative;
}
.navlink li a::after {
  content: "";
  background: #ff3d00;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
.navlink li a:hover::after {
  width: 100%;
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.content {
  position: absolute;
  left: 50%;
  top: 31%;
  width: 90%;
  max-width: 900px;
  transform: translate(-50%, 50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 57px;
  margin-bottom: 6px;
  font-weight: 600;
}
@media (max-width: 700px) {
  .content h1 {
    font-size: 20px;
  }
  .navlink ul li {
    display: block;
  }
  .navlink {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 123px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}
.about {
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 180px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  color: dimgrey;
  line-height: 22px;
  font-size: 22px;
  font-weight: 300px;
  padding: 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
about .content ul li + li {
  margin-top: 10px;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
*,
::after,
::before {
  box-sizing: border-box;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.column {
  float: left;
  width: 50%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.icon-bar {
  width: 100%;
  background-color: #ffff;
  overflow: auto;
  height: 120px;
}
.icon-bar .icon {
  width: 25%;
  height: 100px;
  float: left;
  padding: 10px;
}
.icon-bar .icon i {
  font-size: 90px;
}
.events {
  padding: 80px 0;
  overflow: hidden;
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 180px;
}
h1 {
  font-size: 36px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 4px;
  position: relative;
}
p {
  margin-bottom: 0;
  color: #777777;
  font-size: 22px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card {
  margin: 1px;
  padding: 10px 3px;
  /*setting width for each and every card element as well as -10px for removing the margin width for 5 elements*/
  /*width: calc( 100% / 5 - 5px);*/
  width: 415px;
  height: 424px;
  margin: 8em;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*background: #fff;*/
}
.card:hover {
  color: rgb(235, 29, 63);
}
.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #480048, #c0484c);
  /* rgba(95, 5, 5, 0.144);*/
  z-index: -1;
  border-radius: 10px;
  transition: all 0.4s;
}

.card::after {
  background: rgb(81 89 122 / 70%);
  transform-origin: right bottom;
  border-radius: 50%;
  transform: translate(10%, 10%) scale(0.3);
  border-radius: 50%;
  transition: all 0.4s;
}
.card:hover::after {
  transform: transition(0) scale(1);
  border-radius: 0;
  border-radius: 10px;
}
.card:hover::before {
  transform-origin: right bottom;
  transform: translate(10%, 10%) scale(0.3);
  border-radius: 50%;
  z-index: 1;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropbtnp {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdownp {
  position: relative;
  display: inline-block;
}

.dropdownp-contents {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownp-contents a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownp-contents a:hover {
  background-color: #ddd;
}

.dropdownp:hover .dropdownp-contents {
  display: block;
}

.dropdownp:hover .dropbtnp {
  background-color: #3e8e41;
}
.mapnitt {
  position: relative;
  width: 100%;
  height: 350px;
  background: rgb(58, 55, 55);
}
.contact {
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 180px;
}
h2 {
  font-size: 36px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 4px;
  position: relative;
}
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 32px;
  color: #2f3980;
  float: left;
  line-height: 1;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #282828;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 21px;
  color: #5b5b5b;
}

footer {
  background: black;
  width: 100%;
  height: auto;
  padding: 30px 0;
  /*padding-top: 40px;*/
  text-align: center;
  color: mediumspringgreen;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.footer-content h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}
.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #1e0044;
  color: #fff;
  transition: all 0.4s;
}
section {
  padding: 80px 0;
  overflow: hidden;
}
.container {
  max-width: 540px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #420099;
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
  color: #777777;
  font-size: 23px;
}

p {
  margin-top: 0;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}
#portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}
.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -50px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #2f3980;
  padding: 15px 20px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 15px;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: white;
  transition: ease-in-out 0.3s;
}
.pricing {
  background-color: #f9f9f9;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #420099;
  bottom: 0;
  left: 0;
}
.wrapper {
  position: relative;
  padding-top: 56.25%;
}
.pricing img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 6.1rem;
  justify-content: space-between;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: darkorange;
}
